.amountCell {
  padding-right: 10px;
  text-align: right;
}
.disabled {
  opacity: 0.5;
}
.input {
  outline: none;
  padding: 0;
  border: none;
  width: 100%;
  background:transparent;
  text-align: right;
}