$font-bold: 'basier_circlebold';
$font-bold-italic: 'basier_circlebold_italic';
$font-medium: 'basier_circlemedium';
$font-medium-italic: 'basier_circlemedium_italic';
$font-regular: 'basier_circleregular';
$font-regular-italic: 'basier_circleregular_italic';
$font-semibold: 'basier_circlesemibold';
$font-semibold-italic: 'basier_circlesemibold_italic';
